
{% include 'header.html' %}	
 
<h3 style="padding-left:10px"><h3> Hey, {{ user.username }}! </h3>
<div style="padding-left:20px">
<button class="btn btn-large" type="button" onclick="window.location.href='/UploadInfo/'">Upload your info!</button>
<button class="btn btn-large" type="button" onclick="window.location.href='/ViewUserInfo/'">View your info!</button>
<button class="btn btn-large" type="button" onclick="window.location.href='/ViewUserStats/'">View user stats!</button>
<button class="btn btn-large" type="button" onclick="window.location.href='/PlayGame/'">Play Game!</button>
<button class="btn btn-large" type="button" onclick="window.location.href='/logout/'">Logout</button>
</div>

{% include 'footer.html' %}
