{% include 'header.html' %}

{{ state }}
<body>		
 <div class="container">

         <div class="hero-unit">
         <h1>Welcome to Duck Duck Asian!</h1>
         <p>Duck Duck Asian is a game that helps you better distinguish and identify Asian people.</p>
         <p>It's our humble attempt to fight against the stereotype, "All Asian people look the same."</p>
         <p><a href="/register/" class="btn btn-primary btn-large">Get Started!</a></p>
         </div><!-- .hero-unit -->

 </div><!-- .container -->

 </body>
</html>

{% include 'footer.html' %} 
