{% include 'header.html' %}

<center>
<div id="image_container" style="padding-top:5px; padding-left: 5px; float: left">
	<img src="/media/{{ photo_user.photo }}" height="400" width="350">
</div>

<h3>{{ question.text }}</h3>
</br>

<script type="text/javascript">
	$.duckduckasian = {};
	$.duckduckasian.correct = "not answered";
	$.duckduckasian.num_attempted = 0;

	function checkAnswer(button_id){
		var color;
    console.log(button_id);
    console.log("{{ correct_answer }}");

		if(button_id.toUpperCase() === "button_{{ correct_answer }}".toUpperCase()){
			display_correct();	
			color = "#8CD966";
				
			if($.duckduckasian.correct == "not answered")
				$.duckduckasian.correct = "True";
		}else{
			color = "#E30909";
			
			if($.duckduckasian.correct == "not answered")
				$.duckduckasian.correct = "False";
		}

		button_id = '#' + button_id;

		var curr_color = $(button_id).css("background");
		if(curr_color != 'rgb(140, 217, 102)' && curr_color != 'rgb(227, 9, 9)')
			$.duckduckasian.num_attempted++;

		$(button_id).css("background", color);
	}

	function display_correct(){
		$("#next_question").prop('value', 'next');	
	}	

	function next_question(){
		document.getElementById("num_attempted_data").setAttribute("value", $.duckduckasian.num_attempted);
		document.getElementById("correct_data").setAttribute("value", $.duckduckasian.correct);
		document.getElementById("submit_answer").submit();
	}	
</script>

<!---
<script type="text/javascript">
  $('.btn.btn-primary.btn-medium').bind('mouseenter', function() {

    var color  = $(this).css("background-color");
    $(this).css("background", "#380606");

    $(this).bind("mouseout", function(){
      $(this).css("background", color);
    })
  })
</script>
---!>

{% if is_race %}
<div class="button-groups">
	<form class="button-answers">
		<table>
			<tr>
				<td><center><a id="button_chinese" class="btn btn-primary btn-medium" style="width:120px;" onclick="checkAnswer('button_chinese')">Chinese</a></center></td>
				<td><center><a id="button_korean" class="btn btn-primary btn-medium" style="width:120px;" onclick="checkAnswer('button_korean')">Korean</a></center></td>
			</tr>
			<tr>	
				<td><center><a id="button_filipino" class="btn btn-primary btn-medium" style="width:120px;" onclick="checkAnswer('button_filipino')">Filipino</a></center></td>
				<td><center><a id="button_vietnamese" class="btn btn-primary btn-medium" style="width:120px;" onclick="checkAnswer('button_vietnamese')">Vietnamese</a></center></td>
			</tr>
			<tr>
				<td><center><a id="button_taiwanese" class="btn btn-primary btn-medium" style="width:120px;" onclick="checkAnswer('button_taiwanese')">Taiwanese</a></center></td>
				<td><center><a id="button_thai" class="btn btn-primary btn-medium" style="width:120px;" onclick="checkAnswer('button_thai')">Thai</a></center></td>
      </tr>
      <tr>
				<td><center><a id="button_japan" class="btn btn-primary btn-medium" style="width:120px;" onclick="checkAnswer('button_japan')">Japanese</a></center></td>
				<td><center><a id="button_other" class="btn btn-primary btn-medium" style="width:120px;" onclick="checkAnswer('button_other')">Other</a></center></td>
			</tr>
		</table>
	</form>
			

</div>
</br>
{% endif %}

{% if is_age %}
<div class="button-groups">
	<form class="button-answers">
		<table>
			<tr>
				<td><center><a id="button_0-9" class="btn btn-primary btn-medium" style="width:120px;" onclick="checkAnswer('button_0-9')">0~9</a></center></td>
				<td><center><a id="button_10-19" class="btn btn-primary btn-medium" style="width:120px;" onclick="checkAnswer('button_10-19')">10~19</a></center></td>
			</tr>
			<tr>	
				<td><center><a id="button_20-29" class="btn btn-primary btn-medium" style="width:120px;" onclick="checkAnswer('button_20-29')">20~29</a></center></td>
				<td><center><a id="button_30-39" class="btn btn-primary btn-medium" style="width:120px;" onclick="checkAnswer('button_30-39')">30~39</a></center></td>
			</tr>
			<tr>
				<td><center><a id="button_40-49" class="btn btn-primary btn-medium" style="width:120px;" onclick="checkAnswer('button_40-49')">40~49</a></center></td>
				<td><center><a id="button_50-59" class="btn btn-primary btn-medium" style="width:120px;" onclick="checkAnswer('button_50-59')">50~59</a></center></td>
      </tr>
      <tr>
				<td><center><a id="button_60-69" class="btn btn-primary btn-medium" style="width:120px;" onclick="checkAnswer('button_60-69')">60~69</a></center></td>
				<td><center><a id="button_70" class="btn btn-primary btn-medium" style="width:120px;" onclick="checkAnswer('button_70')">70+</a></center></td>
			</tr>
		</table>
	</form>
			

</div>
</br>
{% endif %}

<form id="submit_answer" action="/PlayGame/" method="POST">{% csrf_token %}
	<input type="hidden" name="photo_user_id" value="{{ photo_user.id }}"/>
	<input type="hidden" name="question_type" value="{{ question.id }}"/>
	<input type="hidden" name="answer_id" value="{{ answer_id }}"/>
	<input type="hidden" name="correct" value="" id="correct_data"/>
	<input type="hidden" name="num_attempted" value="" id="num_attempted_data"/>
</form>

<input type='button' id="next_question" class="btn btn-large" value="SKIP" onclick="next_question()">
</br>

<a href="/home/">Quit</a>

</center>
{% include 'footer.html' %}
