{% include 'header.html' %}


</br>
</br>
</br>
<a id="button_race" class="btn btn-primary btn-medium" style="width:120px;" onclick="selectQuestionType('race')">Ethnic Appearance</a>
<a id="button_age" class="btn btn-primary btn-medium" style="width:120px;" onclick="selectQuestionType('age')">Age</a>
</br>
</br>

<a id="button_Chinese" class="btn btn-primary btn-medium" style="width:120px;" onclick="selectRace('Chinese')">Chinese</a>
<a id="button_Korean" class="btn btn-primary btn-medium" style="width:120px;" onclick="selectRace('Korean')">Korean</a>
<a id="button_Filipino" class="btn btn-primary btn-medium" style="width:120px;" onclick="selectRace('Filipino')">Filipino</a>
<a id="button_Vietnamese" class="btn btn-primary btn-medium" style="width:120px;" onclick="selectRace('Vietnamese')">Vietnamese</a>
<a id="button_Taiwanese" class="btn btn-primary btn-medium" style="width:120px;" onclick="selectRace('Taiwanese')">Taiwanese</a>
<a id="button_Thai" class="btn btn-primary btn-medium" style="width:120px;" onclick="selectRace('Thai')">Thai</a>
</br>
</br>

<h3>Number of questions attempted: 
  <b id="total_attempted" ></b> 
</h3>
</br>

<h3>Answered correctly on first try: 
  <b id="attempt_1" value=""></b>
</h3>
</br>
<h3>Answered correctly on second try: 
  <b id="attempt_2" value=""></b>
</h3>
</br>

<h3>Answered correctly on third try: 
  <b id="attempt_3" value=""></b>
</h3>
</br>

<h3>Answered correctly on fourth try or more: 
  <b id="attempt_more" value=""></b>
</h3>
</br>

<h3>Times skipped: 
  <b id="num_skipped" value""></b>
</h3>
</br>

<a href="/home/">Back to the homepage</a>

<script type="text/javascript">
 	var global_race_stats = {{ race_stats|safe }};

	var select_questiontype;
	var select_race;
  var color_selected = "#8CD966";
  var color_unselected = $('.btn').css("background");

  window.onload=unpaintRaces;
  window.onload=unpaintQuestions;
  window.onload=selectQuestionType('race');
  window.onload=selectRace('Chinese');
	window.onload=refreshStats;

	function selectQuestionType(text){
    var button_id = "#button_" + text;

    unpaintQuestions();
    $(button_id).css("background", color_selected);
    
    select_questiontype = text;
		refreshStats();
	}

function selectRace(text){
    var button_id = "#button_" + text;

    unpaintRaces();
    $(button_id).css("background", color_selected);

		select_race = text;
		refreshStats();
	}

	function refreshStats(){
		race_stats = global_race_stats[select_race];	
		document.getElementById("total_attempted").innerHTML = race_stats[select_questiontype+"_total"];
		document.getElementById("attempt_1").innerHTML = race_stats[select_questiontype+"_attempt_1"];
		document.getElementById("attempt_2").innerHTML = race_stats[select_questiontype+"_attempt_2"];
		document.getElementById("attempt_3").innerHTML = race_stats[select_questiontype+"_attempt_3"];
		document.getElementById("attempt_more").innerHTML = race_stats[select_questiontype+"_attempt_more"];
    document.getElementById("num_skipped").innerHTML = race_stats[select_questiontype+"_skipped"];		
  }

  function unpaintQuestions(){
    $('#button_race').css("background", color_unselected); 
    $('#button_age').css("background", color_unselected);
  }

  function unpaintRaces(){
    $('#button_Chinese').css("background", color_unselected);
    $('#button_Korean').css("background", color_unselected);
    $('#button_Filipino').css("background", color_unselected);
    $('#button_Vietnamese').css("background", color_unselected);
    $('#button_Taiwanese').css("background", color_unselected);
    $('#button_Thai').css("background", color_unselected);
  }
</script>
{% include 'footer.html' %}
